.swiper-review {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  line-height: 1.3;
}



.swiper-button-prev{
  color: white !important;;
  background-color: #F7A582;
  width: 40px;
 border-radius: 100%;
 height: 40px;
 --swiper-navigation-size: 20px;
}
.swiper-button-next{
  color: white !important;;
  background-color: #F7A582;
  width: 40px;
 border-radius: 100%;
 height: 40px;
 --swiper-navigation-size: 20px;
}



